<!--
  Generated template for the BookDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Book Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



<ion-scroll-content>
  <ion-card padding-10>
    <ion-item text-wrap>
<b>Title :</b> {{bookDetail.data.title}}
</ion-item>
</ion-card >
<ion-card padding-10>
<ion-item text-wrap>
<b>Publisher :</b> {{bookDetail.data.publisher}}
</ion-item>
</ion-card>
<ion-card>
<ion-item text-wrap>
<b>Description :</b>
{{bookDetail.data.description}}
</ion-item>
</ion-card>

<ion-card> 
<ion-item text-wrap>
<b>Introduction :</b>
<div [innerHTML]="bookDetail.data.introduction"></div>
</ion-item>
</ion-card>


</ion-scroll-content>


</ion-content>
