<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank Second
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    VInayak Mestri You have done project in IONIC 2.
  </p>
</ion-content>
