<ion-header>
  <ion-navbar>
    <ion-title>
      Liber Books
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-list>
    <ion-item>
      <ion-select class="item-select"  multiple="false">
        <ion-option *ngFor="let single of filterData" value="{{single.display}}">{{single.display}}</ion-option>
      </ion-select>
      <ion-select  class="item-select"  multiple="false">
        <ion-option *ngFor="let singlesort of sortData" value="{{singlesort.display}}">{{singlesort.display}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngFor="let book of bookList" (click)="onItemClick(book)">
      <ion-thumbnail item-left>
        <img src="{{book.mobileimage}}"/>
      </ion-thumbnail>
      <h2>{{book.title}}</h2>
      <p class="item-description">{{book.publisher}}</p>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
    loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
