<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card >
    <ion-list>

      <ion-item>
        <ion-input type="text" name="email" [(ngModel)]="data.email" placeholder="Email" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" name="password" [(ngModel)]="data.password" placeholder="Password" ></ion-input>
      </ion-item>

    </ion-list>

    <div padding>
      <button block (click)="loginHere()">Sign In</button>
    </div>
  </ion-card>
</ion-content>
